/* app */
#back{
    background: linear-gradient(to bottom, #009688 15%, #d9dbd4 15% 100%);
}

#main-container{
    width: 80%;
    height: 90%;
}

/********sx********/
#chatList{
    width: 30%;
    height: 100%;
    background-color: white;
}

/* topSx */
#topSx{
    height: 25%;
}

#header-sx{
    height: 60px;
    background-color: #eaeaea;
}

#header-sx>div>img,
#header-dx>div>img{
    width: 50px;
}

/* alertNotifications */
#alertNotifications{
    height: calc((100% - 120px));
    background-color: #8edafc;
}

.fa-bell-slash{
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
}

.pFontClass{
    font-size: 0.7rem;
}

/* search Bar */
#search-Bar{
    height: 60px;
    background-color: #fafafa;
}

/* bottom Sx */
#bottomSx{
    height: 75%;
    overflow-y: scroll;
}
#bottomSx>ul>li>div>img{
    width: 50px;
}

#bottomSx>ul>li{
    cursor: pointer;
}

/********dx*******/
#chatContent{
    width: 70%;
    height: 100%;
    background-color: red;
}

#header-dx{
    height: 60px;
    background-color: #eaeaea;
}

/* body Chat */
#bodyChat{
    height: calc(100% - 120px);
    background-image: url('../img/mine.jpg');
    padding: 4rem 6rem;
    overflow-y: scroll;
}

.sentMessage{
    display: flex;
    justify-content: end;
    align-items: center;
}

.receivedMessage{
    display: flex;
    justify-content: start;
    align-items: center;
}

.spanFontClass{
    font-size: 0.7rem;
}

.sent,
.received{
    width: 35%;
}

.sent span:hover,
.received span:hover{
    background-color: #202b308a;
    cursor: pointer;
    filter: brightness(0.9);
}

.sent{
    background-color: #d5f9ba;
}

.received{
    background-color: white;
}

/* dropdown */
.dropdownBox{
    top: 40%;
    right: 10%;
    z-index: 999999;
}

/* bar add message */
#addMessageBar{
    height: 60px;
    background-color: #f3eeea;
}